/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.card-buttons {
  display: flex;
  justify-content: end;
}

.card__like-button {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: 8.125rem;
  height: 2.375rem;
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font-family);
  color: var(--accent-color);
  background-color: transparent;
  z-index: 1;
}

.card__like-button::before {
  content: '';
  position: absolute;
  mix-blend-mode: difference;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 0; 
}

.card__like-button:hover::before {
  transform: scaleX(1);
}

.card__like-button:hover {
  color: var(--background-color-button);
}

.custom-button {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference; 
  transition: color 0.5s ease-in-out;
}

.card__icon-button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.card__icon-button:hover {
  cursor: pointer;
}
