/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: repeating-linear-gradient(
      var(--background-color) 0,
      var(--background-color) 2px,
      var(--gradient-interim-color) 2px,
      var(--gradient-interim-color) 4px
    ),
    repeating-linear-gradient(
      90deg,
      var(--background-color) 0,
      var(--background-color) 2px,
      var(--gradient-interim-color) 2px,
      var(--gradient-interim-color) 4px
    ),
    linear-gradient(var(--color-gradient-start), var(--color-gradient-end));
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 6.25rem;
  font-family: var(--main-font-family);
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
}

.header {
  padding-top: clamp(7.5rem, 7.148rem + 1.5vw, 8.5rem);
  padding-bottom: 1.625rem;
  margin-bottom: 6.25rem;
  width: clamp(23.438rem, 16.373rem + 30.14vw, 43.5rem);
  display: grid;
  font-family: var(--accent-font-family), sans-serif;
  text-align: center;
  color: var(--accent-color);
  background-color: var(--background-color);
  border: solid 2px var(--accent-color);
  position: relative;
  justify-items: center;
}

.title {
  text-transform: uppercase;
  font-size: clamp(3.063rem, 2.71rem + 1.5vw, 4.063rem);
}

.subtitle {
  font-size: clamp(0.875rem, 0.677rem + 0.85vw, 1.438rem);
  text-transform: uppercase;
  margin-top: 20px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  margin-top: 1.5625rem;
}

.theme-menu__item:not(:last-child) {
  padding-bottom: 9px;
}

.theme-menu__button {
  position: relative;
  padding-left: 1.25rem;
  text-transform: uppercase;
  font-size: 14px;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-light .theme-menu__button[data-theme="light"]::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 1rem;
  height: 0.8125rem;
  background-image: url(/src/svg/pointer-light.svg);
  transform: translateY(-50%);
  animation: arrow-move 0.5s ease-in-out infinite alternate;
}

.theme-dark .theme-menu__button[data-theme="dark"]::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 1rem;
  height: 0.8125rem;
  background-image: url(/src/svg/pointer-dark.svg);
  transform: translateY(-50%);
  animation: arrow-move 0.5s ease-in-out infinite alternate;
}

.theme-auto .theme-menu__button[data-theme="auto"]::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 1rem;
  height: 0.8125rem;
  background-image: url(/src/svg/pointer-dark.svg);
  transform: translateY(-50%);
  animation: arrow-move 0.5s ease-in-out infinite alternate;
}

@keyframes arrow-move {

  from {
    transform: translateY(-50%) translateX(0);
  }

  to {
    transform: translateY(-50%) translateX(4px);
  }
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}

.card {
  border: solid 2px var(--accent-color);
  background-color: var(--background-color);
  color: var(--accent-color);
  width: clamp(23.438rem, 16.373rem + 30.14vw, 43.5rem);
}

.card-title {
  font-size: 1.125rem;
  font-weight: bold;
  justify-self: center;
  line-height: 1.375rem;
  margin-left: 0.625rem;
  padding-bottom: 4px;
  padding-top: 4px;
}

.picture-content {
  position: relative;
}

.card-picture {
  position: relative;
  border-top: solid 2px var(--accent-color);
  border-bottom: solid 2px var(--accent-color);
  width: 100%;
}

.watermark {
  top: 1.5625rem;
  right: clamp(0.688rem, 0.379rem + 1.31vw, 1.563rem);
  mix-blend-mode: hard-light;
  position: absolute;
  font-size: 14px;
  font-family: var(--accent-font-family);
  opacity: 0.5;
  color: var(--accent-color);
  text-shadow:
    -1px -1px 0 var(--background-color),
    1px -1px 0 var(--background-color),
    -1px 1px 0 var(--background-color),
    1px 1px 0 var(--background-color);
  z-index: 1;
}

@supports (-webkittext-stroke: 1px #fff) {

  .watermark {
    -webkit-text-stroke: 1px #fff;
  }
}

.card-content {
  padding: 1.5625rem;
}

.card-description {
  font-size: 1.125rem;
  line-height: 1.3125rem;
}

.card-description:not(:last-child) {
  margin-bottom: 1.6875rem;
}

.card__icon-button {
  font-size: 0.875rem;
  line-height: 90%;
}

.button-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: var(--accent-color);
  font-family: var(--accent-font-family);
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 20px 15px;
  max-width: fit-content;
  justify-self: center;
  align-self: center;
  gap: 8px;
}

.save-button {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  gap: 8px;
}

.save-button p {
  font-size: 14px;
  line-height: 0.9;
  flex-wrap: nowrap;
  align-self: center;
}

.card__icon-button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.card__icon-button:hover {
  cursor: pointer;
}

.button-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.button-wrapper:hover::before {
  transform: scaleX(1);
}

.save-button p,
.save-button svg {
  position: relative;
  z-index: 1;
  color: var(--button-color-text);
  mix-blend-mode: difference;
  transition: color 0.5s ease-in-out;
}

.custom-button {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  transition: color 0.5s ease-in-out;
  font-size: 14px;
  line-height: 0.9;
}

dialog {
  padding: 30px;
  position: fixed;
  inset: 0;
  display: grid;
  border-width: 2px;
  transition: opacity 0.3s ease-in-out;
  background-color: var(--background-color);
  color: var(--accent-color);
  width: clamp(21.313rem, 21.048rem + 1.13vw, 22.063rem);
  height: 11.9375rem;
  gap: 1.875rem;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.7);
}

dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  text-align: left;
}

.dialog-content svg {
  justify-self: center;
  align-self: center;
}

.dialog-text {
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.close-button {
  margin-top: 30px;
  border: 2px solid var(--accent-color);
  width: 100%;
  height: 2.375rem;
  text-transform: uppercase;
}

.close-button:hover {
  cursor: pointer;
}

.close-button:active {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.card-freetrack img {
  filter: invert(1) brightness(200%) saturate(60%) hue-rotate(90deg);
}

.card-1-1sprint img {
  filter: brightness(400%);
}

.card-1-2sprint img {
  filter: saturate(30%);
}

.card-2-1sprint img {
  filter: hue-rotate(170deg);
}

.card-2-2sprint img {
  filter: opacity(25%);
}

.card-3-1sprint img {
  filter: invert(75%);
}

.card-3-2sprint img {
  filter: contrast(200%);
}

.card-now img {
  filter: sepia(60%);
}

@media (width > 48rem) {

  .save-button {
    flex-direction: row;
  }
}
