/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --accent-color: rgba(0 204 20/ 1);
  --color-gradient-start: rgba(0 127 12 / 1);
  --color-gradient-end: rgba(0 67 6 / 1);
  --background-color: rgba(0 0 0/ 1);
  --pointer-color: rgba(0 204 20/ 1);
  --pointer-text-color: rgba(0 204 20/ 1);
  --hover-text-color: rgba(0 0 0/ 0.6);
  --active-text-color: rgba(0 0 0/ 0.6);
  --gradient-start-color: rgba(0 0 0/ 1);
  --gradient-interim-color: transparent;
  --main-font-family: "Inter Variable", sans-serif;
  --accent-font-family: "PressStart2P", fantasy;
  --button-color-text: rgba(0 204 20/ 1);
  --contour: rgba(0 204 20/ 1);
  --filling: rgba(255 0 0 / 1);
  --wght: 900;
}
